/* Header.css */
/* @media (max-width: 844px) {
    .header-container {
      height: auto;
      padding: 0.2rem;
    }
  
    .header-content {
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  
    .header-logo {
      display: block;
      margin: 0 auto;
    }
  
    .header-search {
      margin-top: 1rem;
    }
  
    .header-title {
      width: 100%;
      font-size: 2rem;
    }
  
    .header-description {
      width: 100%;
    }
  }
   */

  